<br>
<div style="padding: 6px;">
<form class="hc-form">
  <mat-label class="hc-full-width" style="font-size: x-large;">Water Meter Reading</mat-label>
  <table class="hc-full-width" [cellPadding]="0">
    <tr>
      <td>
        <mat-form-field class="hc-full-width" appearance="fill">
          <mat-label>Villa #</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-label>9-Aug-2022 </mat-label>
        <mat-label>2,222</mat-label>
      </td>
    </tr>
  </table>
  <table class="hc-full-width" [cellPadding]="0">
    <tr>
      <td>
        <mat-form-field class="hc-full-width" appearance="fill" style="font-size: x-large;">
          <mat-label>Villa #</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-label>9-Aug-2022 </mat-label>
        <mat-label>2,222</mat-label>
      </td>
    </tr>
    <tr><td>
      <button mat-raised-button color="primary" style="font-size: x-large;">Save</button>
    </td>
  <td>
    <button mat-raised-buton style="font-size: x-large;">Cancel</button>
  </td></tr>
  </table>
</form>
</div>
